
<div class="container d-flex justify-content-center align-items-center mt-5">
    <form [formGroup]="myForm"  (ngSubmit)="onSubmit()" class="border w-50 mt-5 p-5 rounded-5 shadow">
        <div class="form-group mt-3 mb-3">
            <div class="mb-2">Username</div>
            <input type="text" class="form-control" placeholder="username" minlength="10" maxlength="10" formControlName="username">
            <span class="text-danger" *ngIf="myForm.controls['username'].invalid && (myForm.controls['username'].dirty || submitted)">Enter a valid Username</span>
        </div>
        <div class="form-group mb-3">
            <div class="mb-2">Password</div>
            <input type="password" class="form-control" placeholder="password" minlength="10" maxlength="15" formControlName="password">
            <span class="text-danger" *ngIf="myForm.controls['password'].invalid && (myForm.controls['password'].dirty || submitted)">Enter a valid Password</span>
        </div>
        <div class="mt-3 mb-3">
            <button class="btn btn-warning btn-lg">Login</button>
        </div>
    </form>
</div>

<!-- <button class="btn btn-warning" routerLink="/home">Go</button> -->
